.checkout{
  padding-bottom:20px;
}
.checkout_formWrapper{
  display:flex;
  width :100%;
  height:100%;
  justify-content:flex-end;
  flex-wrap:wrap;
}
.checkout_form{
  display:flex;
  flex-direction:column;
  position:relative;
  top:20%;
  margin:10% 0%;
  width: 45% ;
}
.formGroup {
    position: relative;
    height: 3em;
    margin: 15px 0;
  }
  div > div:nth-child(2) > form > div > div:nth-child(7){
    margin-bottom: 0;
    height:2.3em;
  }

.formControl {
    height: 2em;
    position: absolute;
    top: 0;
    left: 0px;
    transition: translateX 6s ease-in;
    width: 100%;
    font-size: 14px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding-left: 20px;
    

  }



.formControlLabel {
    position: absolute;
    font-size: .8em;
    top: 0;
    left: 5px;
   
    text-transform: uppercase;
  }


.formControl::placeholder {
    color: rgba(0, 0, 0, 0.8);
    transition: ease-in 0.3s;
    position: relative;
    left: 0px;
    opacity: 1;
    font-family: sans-serif;
  }

.formControl:focus::placeholder {
    opacity:0;
  }
.checkout_aside{
  background-color: #e1e1e1;
  width: 50%;
  min-height:100vh;
  height:auto;
  position:relative;
  top:8%;
  padding-bottom:80px;
}
.checkout_order{
  color:black;
  margin:20% 0 ;
}
  @media only screen and (max-width: 1000px) { 
    .checkout_form{
      margin:20% 10%;
      width:100%;
    }
    .checkout_aside{
      width: 100%;
      padding-bottom: 0;
    }
    .checkout_order{
      margin:5% 0%;
    }
  }