.hamburger{
    margin:12.5px 0;
    width:30px;
    height:1px;
    background-color: black;
  
}
.hamburger::before{
    content:"";
    width:30px;
    height:1px;
    display: block;
    background-color: black;
    transform: translateY(8px);
  
}
.hamburger::after{
    content:"";
    width:30px;
    height:1px;
    display: block;
    background-color: black;
    transform: translateY(16px);
 
}