.userAccount{
    height: 100vh;
    width: 100%;
  
}
.userAccount_body{
    display: flex;
    flex-direction: column;
    position: relative;
    top:30%;
    padding:40px;
    max-width: 300px;
    
    margin: 0 auto;
  
    box-shadow: 1px 1px 5px rgb(177, 174, 174);
}
.userAccount_body > input {
    border:0.5px solid black;
    border-radius: 0.4vw;
    height:30px;
    margin-top:10px;
    padding-left: 16px;
    outline: none;
    font-family: monospace;
  
}

.userAccount_signInBtn{
    width:30%;
    margin-top:  3px;
    background: black;
    border: none;
    border-radius: 0.3vw;
    font-family: monospace;
    color:white;
    height: 30px;
    cursor: pointer;
}

.userAccount_body > h4{
    margin-top:5px;
    font-weight:400;
    font-family:monospace;
    margin-bottom: 0;
}
.userAccount_forgotPassword{
    color:#9c4343;
}
.userAccount_forgotPassword:hover{
    text-decoration: underline;
    cursor:pointer;
}
.userAccount_signUp{
    color:#9c4343;
}
.userAccount_signUp:hover{
    text-decoration: underline;
    cursor: pointer;

}

.userAccount_error{
    font-size: 0.9rem;
    color:#9c4343;
    font-family: monospace;
}
.userAccount_guestBtn{
    width: 100%;
    cursor: pointer;
    background: black;
    color:white;
    border:none;
    border-radius: 0.3vw;
    height:30px;
    font-family: monospace;
    
}
.userAccount_googleSignIn{
    width: 100%;
    cursor: pointer;
    background: black;
    color:white;
    border:none;
    border-radius: 0.3vw;
    height:30px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

}
.userAccount_googleSignIn > img {
    position:relative;
    right: 25px;
}
.userAccount_googleSignIn > p {
    position:relative;
    right: 15px;
}